<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>

<!-- Barra de navegación principal -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="index_bb.html">
                <img src="images/cinexin.png" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index_bb.html">Doble 8... y el cine sin fin <span class="sr-only">(current)</span></a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input id="login" type="text" class="form-control" placeholder="usuario">
                    <input id="password" type="password" class="form-control" placeholder="contraseña">
                </div>
                <button id="btn-login" type="button" class="btn btn-default">Iniciar sesión</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><p id="username" class="navbar-text" style="display: none;">launchpad</p></li>
                <button id="btn-logout" type="button" class="btn btn-default navbar-btn" style="display: none;">Cerrar sesión</button>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Contenedores principales -->
<h1 id="titulo" style="margin-left: 82px; margin-right: 82px;"></h1>
<div id="pelicula" style="margin-left: 82px; margin-right: 82px;">

</div>

<script src="js/lib/mustache.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/zepto.min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script src="js/detalles_bb.js"></script>
<script src="js/login.js"></script>
<script src="js/logout.js"></script>

<!-- Templates (no he usado mustache en estos casos) -->
<script type="x-tmpl" id="titulo_tmpl">
<% _.each(peliculas, function(pelicula) { %>
<% print(pelicula.titulo); %>
<% }); %>
</script>

<script type="text/template" id="pelicula_tmpl">
    <div>
        <% _.each(peliculas, function(pelicula) { %>
        <b>Título original:</b> <% print(pelicula.titulo); %> <br>
        <b>Año:</b> <% print(pelicula.año); %> <br>
        <b>Duración:</b> <% print(pelicula.duracion); %> <br>
        <b>País:</b> <% print(pelicula.pais); %> <br>
        <b>Director:</b> <% print(pelicula.director); %> <br>
        <b>Guión:</b> <% print(pelicula.guion); %> <br>
        <b>Música:</b> <% print(pelicula.musica); %> <br>
        <b>Fotografía:</b> <% print(pelicula.fotografia); %> <br>
        <b>Reparto:</b> <% print(pelicula.reparto); %> <br>
        <b>Productora:</b> <% print(pelicula.productora); %> <br>
        <b>Sinopsis:</b> <% print(pelicula.sinopsis); %> <br><br>
        <b>Críticas</b> <br>
        <div id="criticas" style="margin-left: 10px">
            <% _.each(pelicula.criticas, function(critica) { %>
            <% print(critica.fecha); %><br>
            <% print(critica.texto); %><br>
            <% }); %>
        </div>
        <% }); %>
    </div>
</script>

</body>
</html>